### pergunta: dado um filme com determinado tema e atores, como podemos prever sua avaliação?

# PROBLEMA DO PROJETO: Não estamos conseguindo dar append no data frame a partir do looping. conseguimos fazer isso apenas fora do looping. Além do que, ao tentar (manualmente) adicionar uma nova linha ao data frame, essa nova linha substituirá a antiga (VER o 13º box).

### link para pegar os dados: https://www.kaggle.com/netflix-inc/netflix-prize-data/data

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
df = pd.DataFrame(columns = ["classificacao", "ano", "nome"])

In [3]:
dx = pd.DataFrame(columns = ["qualificador", "data"])

In [4]:
lista_df  = []
 
with open ("movie_titles.csv") as f:
    for linha in f:
        lista_0 = []
        lista_1 = []
        lista_2 = [] 
        partes = linha.strip().split(",")
        juntando = ",".join(partes[2:])
        lista_0.append(partes[0])
        lista_1.append(partes[1])
        lista_2.append(juntando)
       
        #df.append({'classificacao' : lista_0, 'ano': lista_1, 'nome': lista_2}, ignore_index=True)
        temp = pd.DataFrame.from_dict({'classificacao' : [partes[0]], 'ano': [partes[1]], 'nome': [juntando]})
        lista_df.append(temp)
 
dados = pd.concat(lista_df, ignore_index=True)

In [5]:
dados

        ano classificacao                                               nome
0      2003             1                                    Dinosaur Planet
1      2004             2                         Isle of Man TT 2004 Review
2      1997             3                                          Character
3      1994             4                       Paula Abdul's Get Up & Dance
4      2004             5                           The Rise and Fall of ECW
5      1997             6                                               Sick
6      1992             7                                              8 Man
7      2004             8                         What the #$*! Do We Know!?
8      1991             9                           Class of Nuke 'Em High 2
9      2001            10                                            Fighter
10     1999            11                     Full Frame: Documentary Shorts
11     1947            12                               My Favorite Brunette
12     2003            13  Lord of the Rings: The Return of the King: Ext...
13     1982            14                                 Nature: Antarctica
14     1988            15                   Neil Diamond: Greatest Hits Live
15     1996            16                                          Screamers
16     2005            17                                          7 Seconds
17     1994            18                                   Immortal Beloved
18     2000            19                              By Dawn's Early Light
19     1972            20                                    Seeta Aur Geeta
20     2002            21                                  Strange Relations
21     2000            22                                       Chump Change
22     2001            23  Clifford: Clifford Saves the Day! / Clifford's...
23     1981            24                                My Bloody Valentine
24     1997            25      Inspector Morse 31: Death Is Now My Neighbour
25     2004            26                                    Never Die Alone
26     1962            27  Sesame Street: Elmo's World: The Street We Liv...
27     2002            28                                    Lilo and Stitch
28     2001            29                                            Boycott
29     2003            30                             Something's Gotta Give
...     ...           ...                                                ...
17740  2004         17741                          Ginger Snaps 2: Unleashed
17741  1995         17742                                Catherine the Great
17742  2003         17743                               Better Luck Tomorrow
17743  2004         17744                         NASCAR: Tony Stewart Smoke
17744  2002         17745      Russell Simmons Presents Def Poetry: Season 1
17745  1991         17746  Godzilla & Mothra: Battle for Earth / Vs. King...
17746  1991         17747                            Eric Clapton: 24 Nights
17747  2005         17748        Dog the Bounty Hunter: The Best of Season 1
17748  1985         17749                                             No End
17749  2005         17750                     The Hee Haw Collection: Vol. 4
17750  1993         17751                               Highlander: Season 2
17751  2003         17752                                       Out of Order
17752  1997         17753                                       Maslin Beach
17753  1999         17754                                       On the Ropes
17754  2003         17755                           L/R: Licensed by Royalty
17755  1935         17756                                       The 39 Steps
17756  2002         17757  Ulysses S. Grant: Warrior / President: America...
17757  1979         17758                                           Prophecy
17758  1972         17759                                  The Big Bird Cage
17759  2004         17760                                      Lightning Bug
17760  2003         17761                                             Levity
17761  1997         17762                                            Gattaca
17762  1978         17763                                          Interiors
17763  1998         17764                                Shakespeare in Love
17764  1969         17765                                 Godzilla's Revenge
17765  2002         17766  Where the Wild Things Are and Other Maurice Se...
17766  2004         17767                  Fidel Castro: American Experience
17767  2000         17768                                              Epoch
17768  2003         17769                                        The Company
17769  2003         17770                                       Alien Hunter

[17770 rows x 3 columns]

In [11]:
with open ("combined_data_1.txt") as q:
    for linha in q:
        print(linha)
        
        #TA DANDO ERRRROOOOOOOO

1:

1488844,3,2005-09-06

822109,5,2005-05-13

885013,4,2005-10-19

30878,4,2005-12-26

823519,3,2004-05-03

893988,3,2005-11-17

124105,4,2004-08-05

1248029,3,2004-04-22

1842128,4,2004-05-09

2238063,3,2005-05-11

1503895,4,2005-05-19

2207774,5,2005-06-06

2590061,3,2004-08-12

2442,3,2004-04-14

543865,4,2004-05-28

1209119,4,2004-03-23

804919,4,2004-06-10

1086807,3,2004-12-28

1711859,4,2005-05-08

372233,5,2005-11-23

1080361,3,2005-03-28

1245640,3,2005-12-19

558634,4,2004-12-14

2165002,4,2004-04-06

1181550,3,2004-02-01

1227322,4,2004-02-06

427928,4,2004-02-26

814701,5,2005-09-29

808731,4,2005-10-31

662870,5,2005-08-24

337541,5,2005-03-23

786312,3,2004-11-16

1133214,4,2004-03-07

1537427,4,2004-03-29

1209954,5,2005-05-09

2381599,3,2005-09-12

525356,2,2004-07-11

1910569,4,2004-04-12

2263586,4,2004-08-20

2421815,2,2004-02-26

1009622,1,2005-01-19

1481961,2,2005-05-24

401047,4,2005-06-03

2179073,3,2004-08-29

1434636,3,2004-05-01

93986,5,2005-10-06

1308744,5,2005-10-29

2647871,4,2005-12-30

1905581,5,2005-08-16

2508819,3,2004-05-18

1578279,1,2005-05-19

1159695,4,2005-02-15

2588432,3,2005-03-31

2423091,3,2005-09-12

470232,4,2004-04-08

2148699,2,2004-06-05

1342007,3,2004-07-16

466135,4,2004-07-13

2472440,3,2005-08-13

1283744,3,2004-04-17

1927580,4,2004-11-08

716874,5,2005-05-06

4326,4,2005-10-29

1546549,5,2004-07-20

1493697,1,2005-11-01

880166,5,2005-07-12

535396,2,2005-02-03

494609,4,2004-12-08

1961619,5,2005-06-01

883478,4,2005-12-16

793564,4,2004-04-19

1567202,2,2004-03-01

573537,4,2005-02-03

1972040,4,2005-06-02

1838912,3,2005-11-08

411705,4,2004-05-11

2244518,5,2004-09-15

584542,5,2005-02-01

667730,5,2005-05-26

2488120,5,2005-09-20

1926776,1,2005-10-05

38052,3,2004-06-03

1196100,4,2004-10-30

314933,3,2005-09-12

1792741,2,2004-02-09

769643,1,2004-11-18

2477242,5,2005-01-30

1421006,3,2005-08-03

729846,4,2005-08-09

1719610,2,2005-08-19

1696031,4,2005-01-25

1817215,4,2005-09-01

406057,4,2004-09-27

636262,1,2005-09-26

1245406,4,2004-12-30

1834590,3,2005-02-05

593225,3,2004-07-11

1011918,4,2005-05-28

1665054,4,2005-07-06

2630337,5,2005-03-10

1155747,3,2005-07-03

2439493,1,2004-02-06

479924,5,2005-08-02

530789,5,2005-03-29

765860,4,2005-06-13

231001,3,2005-01-03

1493615,5,2005-05-23

1850615,2,2005-07-12

68959,3,2005-08-11

147386,5,2004-09-19

624035,5,2004-02-19

782308,5,2004-07-02

1116080,5,2005-08-08

421374,5,2004-11-17

1158759,4,2004-06-13

1025798,3,2005-09-02

1215397,5,2005-07-19

2475251,4,2005-08-25

321111,2,2005-05-02

2162676,3,2005-08-01

2635437,4,2004-12-19

2389367,1,2004-07-01

485622,5,2005-08-01

235553,4,2004-07-15

831869,4,2005-06-02

99400,5,2005-09-16

684876,4,2005-11-01

1871179,3,2004-12-08

1107678,5,2005-03-15

642036,3,2005-09-21

700890,5,2004-05-06

2289956,5,2004-04-29

2040859,1,2004-11-23

1524964,3,2005-04-19

121318,4,2005-06-06

317050,5,2005-11-15

2287003,5,2004-12-20

59052,2,2004-07-12

893742,4,2005-04-27

1346257,3,2005-08-23

55016,3,2004-05-12

30245,5,2004-10-19

743633,4,2005-08-09

1596531,5,2004-01-23

1125499,5,2005-01-31

706832,4,2005-05-06

2465337,3,2005-04-04

2291422,1,2005-08-28

1777406,3,2005-01-02

1904905,4,2005-05-13

2450433,3,2005-01-08

1348967,2,2004-06-21

638020,3,2005-08-10

2217779,4,2005-02-14

194280,1,2004-12-14

493009,4,2005-03-27

1567167,4,2005-09-11

850327,5,2005-09-18

520386,3,2005-10-25

320540,2,2005-07-26

1188228,2,2004-12-05

57961,4,2004-11-09

1113230,3,2005-05-04

1374216,2,2005-09-23

595778,3,2004-03-03

209573,4,2005-10-31

2354601,5,2005-12-10

2563596,4,2004-04-04

835265,4,2005-09-01

1819474,3,2004-04-03

1447104,3,2004-08-28

1100940,1,2005-10-24

143274,3,2005-08-31

2329565,4,2005-01-19

181592,4,2005-03-26

936396,2,2004-02-09

1125797,3,2004-07-05

2283366,3,2004-12-27

514495,4,2005-04-13

1772176,3,2005-09-27

1877347,4,2005-07-13

1287892,4,2005-05-17

255443,2,2005-05-23

890669,4,2005-11-02

1989766,4,2005-07-08

2315073,4,2004-03-24

14756,4,2005-12-27

907623,3,2004-05-11

991423,4,2004-10-24

1604238,4,2005-06-02

1027056,3,2005-12-03

2025883,5,2005-03-24

732936,5,2005-04-24

563962,5,2005-11-09

799442,4,2005-11-21

352635,5,2004-05-11

2537543,5,2005-10-26

1564395,4,2005-07-09

1655178,4,2004-08-26

573434,4,2004-05-26

1141189,4,2004-12-15

383247,5,2005-02-03

1763921,5,2004-05-10

1943970,5,2004-09-20

322009,3,2004-05-20

2333817,3,2004-10-22

2095681,2,2005-10-29

1149588,4,2005-12-13

2354740,5,2005-05-05

2421360,5,2005-10-19

496087,2,2004-04-25

2191781,1,2005-04-03

1694083,4,2005-10-03

818416,3,2005-07-27

701960,5,2005-04-29

2090477,4,2005-06-28

1664010,5,2005-10-12

2583822,5,2005-08-17

369646,5,2005-04-30

2234063,4,2005-05-11

259799,4,2005-06-23

1077982,4,2004-03-16

2631796,4,2005-09-27

1122383,3,2004-10-22

1508526,3,2004-07-25

1600207,5,2004-04-17

1283117,5,2005-03-18

1727869,5,2005-07-11

1522799,4,2004-10-19

1394012,5,2005-12-19

1558286,3,2005-03-15

1155602,3,2005-07-05

361066,3,2004-09-24

1743210,5,2005-09-22

1148389,4,2004-04-03

2268101,4,2005-10-28

519684,5,2005-07-25

767518,5,2005-08-02

122197,1,2005-03-09

2112162,4,2005-10-14

1073367,3,2005-07-25

400162,5,2004-11-08

1524343,5,2005-03-24

741245,4,2005-06-28

2563768,3,2005-07-04

1406595,4,2005-08-27

1137010,4,2004-10-05

60343,5,2005-05-08

225765,4,2004-05-10

2530404,3,2004-05-01

437881,3,2004-11-17

1935793,1,2005-04-18

134001,4,2005-05-06

2607300,3,2005-07-25

1008986,4,2004-10-25

94565,4,2004-12-15

828410,4,2005-01-03

1805202,4,2005-10-03

1922925,4,2004-04-03

1435717,5,2005-08-11

2277395,4,2004-03-09

2305014,5,2004-08-31

166041,4,2005-09-02

2413320,4,2004-02-06

87113,2,2005-09-21

722591,5,2004-03-08

2291306,1,2004-03-01

2010770,4,2004-12-30

255383,5,2005-04-10

1873429,4,2005-10-27

1647618,4,2005-08-27

608234,5,2005-02-25

42930,3,2005-05-14

1462072,5,2005-06-22

685565,5,2005-09-26

3321,3,2005-09-27

2554942,4,2005-10-03

1874547,4,2004-08-11

2269844,5,2005-11-02

34907,3,2005-08-17

1779903,4,2005-06-04

2576424,4,2005-08-10

230112,3,2004-08-26

508727,3,2004-07-11

1603525,3,2004-10-13

172264,4,2005-09-17

1182185,4,2005-10-06

2275470,2,2005-10-05

491531,5,2005-02-17

1346432,4,2005-11-15

1554712,5,2004-10-27

1450941,5,2005-09-13

1714116,3,2005-08-09

2016488,4,2004-11-22

1782762,4,2005-01-19

1343170,5,2005-02-26

2565752,4,2004-12-10

435841,3,2005-09-19

2242821,5,2005-08-29

638824,5,2004-05-19

2256485,1,2004-08-19

101597,5,2004-10-01

623036,5,2005-05-16

1559445,5,2005-06-08

1723381,5,2005-08-30

1824586,4,2005-03-03

2233105,4,2005-09-08

682963,3,2005-06-21

2529547,5,2005-11-18

504620,2,2005-08-12

1682104,4,2005-08-30

16272,4,2005-01-20

2491785,5,2005-05-09

978412,5,2005-07-02

2054145,3,2005-07-28

2444240,3,2005-08-14

547732,3,2005-06-11

811790,5,2005-09-02

31913,4,2004-10-15

437111,4,2005-06-27

640588,4,2004-09-06

2625019,3,2005-09-12

2605190,5,2005-11-05

915,5,2005-08-17

1430587,4,2005-05-18

2544219,5,2005-11-20

2603381,5,2005-11-29

305344,1,2004-02-08

2569099,1,2005-08-16

2430356,4,2004-07-15

885165,4,2005-06-02

2380806,5,2005-09-06

1512406,1,2005-10-03

1774623,4,2005-11-23

2226525,4,2005-02-08

2537076,4,2005-10-17

2060858,4,2005-05-09

498469,5,2005-03-22

68033,4,2005-10-04

1819146,5,2005-08-15

2088415,4,2005-02-01

473070,5,2005-04-06

1823641,5,2004-03-29

1839976,2,2004-03-31

14924,5,2005-10-04

1852606,4,2004-07-23

453694,5,2004-07-21

921487,2,2004-07-19

1022254,5,2004-09-15

2464081,4,2005-01-22

1228324,4,2005-11-12

1563530,4,2004-08-18

1181170,3,2004-09-08

1357013,3,2004-10-02

21722,4,2005-02-07

288420,5,2005-06-02

1739170,5,2005-09-19

2584676,3,2005-08-06

2013504,4,2005-08-10

1245176,4,2004-07-27

269524,3,2005-03-05

661344,3,2005-03-16

652324,3,2004-04-15

2239213,3,2005-08-24

863302,4,2004-08-19

758850,4,2004-09-21

1884755,2,2004-11-15

544833,3,2005-09-27

1562707,1,2005-07-25

810700,5,2004-08-31

837756,5,2004-10-26

155164,4,2004-10-29

493945,5,2005-04-12

1565175,5,2004-08-10

2005193,4,2005-11-17

1605780,4,2004-09-17

1294335,2,2004-09-22

608576,4,2005-03-19

659505,4,2005-05-16

1604707,4,2005-10-17

2630797,5,2005-12-09

402266,5,2004-10-16

752642,3,2004-02-24

1906145,4,2005-07-19

389872,2,2005-08-09

1462866,2,2004-10-09

1952116,4,2005-04-28

54774,4,2005-05-25

1776980,5,2005-10-13

1494196,5,2004-02-29

253794,5,2004-08-10

1569513,3,2004-02-26

596728,2,2004-04-26

1107588,1,2004-02-22

1133763,3,2005-05-15

1398076,4,2004-07-02

1178171,4,2004-07-01

984369,3,2005-08-25

2618594,4,2004-07-27

1653834,4,2004-08-22

2322840,3,2005-07-12

2207647,4,2004-08-12

1994111,4,2005-01-11

1824044,4,2004-04-29

2255037,3,2004-06-01

2056022,3,2004-11-22

1458179,4,2005-01-26

1508350,4,2005-06-27

1168571,5,2005-09-14

766489,3,2005-10-01

1424199,5,2005-08-08

2054180,3,2004-07-09

448902,5,2005-07-20

1547173,3,2005-11-18

1751103,4,2004-08-05

121073,5,2004-12-16

2609436,4,2004-11-09

1398626,2,2004-12-03

1311231,3,2004-03-30

2279000,3,2005-02-18

236921,5,2005-03-19

2566259,5,2005-04-06

758937,4,2005-10-24

2260684,4,2004-11-08

1190829,4,2004-02-10

136106,3,2005-08-08

344753,3,2004-07-21

568930,5,2005-05-02

206115,4,2005-08-23

2390644,3,2004-09-06

2078679,5,2005-01-07

1682651,4,2005-05-02

386915,4,2005-05-27

972136,3,2005-06-20

1806515,3,2005-09-29

11589,3,2005-10-19

2118461,5,2005-10-24

444411,3,2004-09-05

691108,4,2005-02-27

332401,3,2005-04-28

1278488,4,2005-04-27

358776,4,2005-11-21

387418,1,2004-02-08

872408,4,2005-08-26

646098,4,2004-07-19

396595,5,2005-02-13

1366860,4,2004-01-26

1046882,3,2004-08-12

470861,5,2004-06-28

1455257,4,2004-09-17

1274780,3,2004-10-11

379184,4,2005-02-11

1273630,4,2005-09-08

492291,3,2005-06-06

145873,3,2004-02-25

1388284,5,2004-12-21

712610,4,2005-04-27

1116065,1,2005-05-03

660499,1,2005-07-08

1918987,4,2005-07-10

1357894,3,2004-09-09

190418,3,2004-09-30

1060658,3,2005-03-23

1443203,4,2005-05-22

1772839,5,2005-09-19

2385774,3,2004-04-07

1059319,3,2005-10-10

831775,4,2005-10-15

881346,5,2005-11-07

1066317,4,2004-05-07

13651,3,2004-06-16

208920,4,2005-01-23

308753,5,2005-10-31

2564257,3,2005-11-27

565041,4,2004-08-23

1602153,4,2005-06-13

173930,4,2005-06-30

202811,3,2005-07-18

353369,3,2005-08-01

1201176,4,2005-05-02

2047577,3,2005-05-27

685113,4,2005-10-24

1686060,5,2004-03-21

151004,5,2004-07-09

2126192,3,2004-04-16

1981464,4,2005-08-16

1862581,4,2004-06-08

1255780,5,2005-03-28

1962300,3,2005-06-22

1515355,3,2004-05-12

1001779,4,2005-09-09

2093105,3,2004-06-17

1123959,3,2005-01-05

1876297,5,2005-05-19

1364481,4,2004-05-29

998236,5,2004-06-23

328415,3,2004-11-01

1347129,4,2005-01-24

1117062,4,2005-07-07

1033930,3,2005-08-11

45117,5,2005-08-15

1005769,5,2004-09-28

712609,4,2005-03-20

740495,4,2005-02-05

2497991,4,2005-07-07

1017324,4,2005-04-05

120491,5,2004-09-13

1645794,4,2005-04-05

1658790,3,2005-06-23

2451020,4,2004-09-14

1878798,4,2005-01-11

1790903,4,2005-04-23

1254683,1,2004-02-13

874943,5,2005-03-22

121456,4,2005-04-19

1140108,4,2005-09-20

515436,1,2005-02-13

272689,5,2005-03-03

1247177,3,2005-12-04

263240,3,2004-07-07

2539549,3,2005-02-23

2565654,5,2004-11-15

334701,3,2005-02-07

42921,3,2005-10-04

2011399,5,2005-08-08

433945,5,2004-11-06

2151149,4,2005-01-13

1415954,2,2005-02-14

1086360,3,2005-03-10

2419258,4,2005-08-12

2380848,5,2005-01-11

1550216,1,2005-02-07

596533,5,2005-03-20

287901,5,2005-05-30

188613,4,2005-09-15

1654508,3,2005-04-25

1313126,5,2005-04-27

51334,4,2005-05-18

2374451,4,2005-06-05

2031093,4,2005-06-30

548064,5,2005-12-02

946102,5,2005-02-02

1790158,4,2005-05-17

1403184,3,2005-11-12

1535440,4,2005-08-18

1426604,4,2005-09-01

1815755,5,2004-07-20

2:

2059652,4,2005-09-05

1666394,3,2005-04-19

1759415,4,2005-04-22

1959936,5,2005-11-21

998862,4,2004-11-13

2625420,2,2004-12-06

573975,3,2005-07-21

392722,4,2004-12-10

1401650,4,2005-02-24

988104,3,2005-05-23

977632,4,2004-11-12

2557870,4,2005-03-27

1793899,5,2005-06-04

1340535,5,2004-12-12

1888322,5,2005-01-20

1283598,3,2004-11-30

1784150,4,2005-06-17

2271251,5,2005-08-19

65932,3,2005-07-19

1828884,5,2004-12-21

1878728,4,2005-12-01

1922778,3,2005-02-07

1176404,4,2005-02-23

2265116,3,2005-09-06

1078701,4,2005-10-12

1832577,4,2005-09-07

748922,5,2005-07-05

1013802,1,2005-05-30

1131325,2,2005-11-14

2244378,4,2005-02-09

494639,2,2005-09-26

636262,1,2005-08-23

1903158,4,2005-03-04

220427,4,2005-05-05

2439493,1,2005-02-10

2225116,4,2005-08-29

1445632,5,2005-01-30

2592823,4,2005-02-06

1288603,5,2005-06-20

2556926,3,2005-07-09

1190070,4,2005-11-05

1312846,3,2005-08-26

2226229,3,2005-04-24

1563935,1,2005-08-12

69809,5,2005-04-08

1349753,3,2005-03-23

785768,3,2005-04-19

426476,5,2005-05-10

810636,4,2005-04-25

468713,5,2005-07-18

222290,4,2005-03-14

349407,5,2005-01-02

311232,2,2005-06-28

2596999,4,2005-10-07

1025601,5,2005-11-09

1743759,4,2005-01-30

2385553,5,2005-05-24

1374216,1,2005-09-25

526466,4,2005-03-05

2648861,3,2005-05-25

1210631,3,2005-03-24

2314531,4,2005-07-15

618272,1,2005-08-14

2532807,3,2005-01-28

412535,4,2005-05-23

1315005,4,2005-06-28

1358911,5,2005-12-13

507603,1,2005-07-23

1507649,5,2005-02-17

845529,5,2005-04-26

1479907,5,2005-02-28

236271,2,2005-06-21

2422676,3,2005-04-07

1636093,5,2005-10-20

995594,5,2005-01-19

1664010,4,2005-10-13

2431481,3,2004-11-18

1980668,5,2004-12-16

402321,4,2005-04-18

1344564,3,2005-01-25

1632603,3,2005-09-09

2567280,3,2005-03-17

1623166,3,2005-02-10

521932,4,2005-01-11

105086,5,2005-09-20

2072554,5,2005-05-05

2231529,3,2005-08-25

2103439,2,2005-06-05

261764,1,2005-11-10

193476,5,2005-03-23

1576540,4,2005-04-14

1783594,5,2005-03-07

503334,4,2005-11-25

183903,5,2005-01-30

2606799,1,2005-05-16

1236127,4,2005-06-07

2375962,3,2005-07-04

2212071,3,2005-09-17

1252841,3,2005-02-06

247898,5,2005-07-15

970975,3,2005-09-02

305344,1,2004-10-16

1581186,4,2005-02-27

1129620,3,2005-09-03

584750,3,2005-11-27

11409,5,2005-01-13

1875495,2,2005-01-12

1403217,2,2005-08-17

2147527,1,2005-11-18

2418486,4,2005-11-08

1476323,5,2004-11-22

2345723,4,2004-12-26

2640085,5,2005-04-26

1803154,2,2004-12-14

1251170,2,2005-02-11

527491,4,2005-07-30

391517,4,2005-05-16

1398626,3,2005-11-26

828919,5,2004-12-18

196494,5,2005-10-03

715897,5,2005-10-18

268917,2,2005-06-03

41422,4,2005-09-11

1806515,3,2005-09-23

2118461,4,2005-12-20

387418,1,2004-11-19

2019055,5,2005-05-12

348960,1,2005-09-07

1167731,4,2005-06-07

2468831,5,2005-07-05

219925,4,2005-04-18

1025193,5,2005-07-07

630887,5,2005-01-20

1461435,1,2005-03-21

1838586,1,2005-08-17

1515430,3,2005-01-27

1807053,5,2005-04-25

1172326,5,2005-06-18

1785842,3,2005-06-01

803752,3,2004-11-17

1581265,3,2005-04-15

515436,1,2005-02-13

1824543,4,2005-04-20

1283204,3,2004-12-23

1272122,5,2005-07-25

3:

1025579,4,2003-03-29

712664,5,2004-02-01

1331154,4,2004-07-03

2632461,3,2005-07-22

44937,5,2004-06-22

656399,4,2003-09-20

439011,1,2004-01-22

1436762,3,2003-03-17

1644750,3,2003-03-19

2031561,4,2004-03-31

616720,4,2003-08-10

2467008,4,2004-03-15

975874,5,2004-02-09

701730,2,2005-10-05

1614320,4,2003-08-11

115498,3,2003-07-16

931626,2,2004-07-08

699878,4,2003-05-02

1694958,3,2005-08-10

66414,5,2004-02-21

2519847,5,2003-03-10

948069,3,2003-05-09

67315,4,2003-08-25

704249,4,2004-08-16

454417,4,2004-04-18

1995318,3,2004-07-14

2158448,5,2005-05-31

574843,5,2005-06-13

714960,4,2005-06-21

620771,2,2005-09-26

253876,4,2005-11-01

1632700,4,2005-11-14

603277,3,2003-06-21

79160,4,2005-07-11

1859725,4,2003-05-30

283774,5,2003-08-23

1983667,2,2003-08-08

2267507,4,2004-05-25

1813349,4,2003-03-18

2424721,3,2005-09-04

1275804,4,2003-08-27

1204327,4,2004-03-16

2143489,1,2004-08-23

672980,5,2004-11-18

166100,4,2004-12-17

2537764,5,2005-01-06

1650301,2,2005-06-17

553931,4,2005-10-04

214166,3,2005-10-09

6689,4,2003-02-20

109089,5,2003-05-27

1854303,1,2004-05-29

525003,5,2003-04-30

2312349,4,2003-05-13

188416,3,2004-01-27

2213550,4,2004-07-01

24344,4,2004-08-20

2344483,4,2004-09-28

531155,4,2005-02-28

1959707,3,2005-03-19

2120279,5,2005-05-15

1977959,4,2003-02-12

21983,4,2003-04-19

2173816,1,2003-07-17

78931,5,2003-07-09

2145227,4,2003-04-07

2463079,3,2003-08-26

1286051,3,2004-01-28

958104,4,2003-09-03

489962,3,2003-09-03

2297863,4,2004-01-13

958382,4,2004-08-22

248932,4,2005-04-03

1756658,3,2005-06-16

2579794,4,2005-10-26

1628475,4,2005-11-14

206809,5,2003-03-05

1333,4,2004-05-18

445828,2,2003-10-28

2079559,5,2004-08-28

1007809,4,2003-12-16

1562675,1,2003-03-06

1477923,4,2003-03-25

44783,3,2003-11-22

52540,1,2003-03-22

2436327,2,2004-07-13

1830211,4,2004-10-06

1857979,2,2005-03-08

1198785,2,2005-06-30

870391,2,2003-05-19

2164676,4,2003-03-03

1281996,4,2003-07-23

1853885,4,2004-06-18

2646060,3,2003-09-24

709342,4,2003-09-10

1195585,5,2003-08-04

1319527,5,2005-01-05

1478381,4,2005-05-26

1658752,3,2003-03-09

41371,5,2004-01-21

1479793,3,2004-01-18

1406148,3,2004-09-17

2446687,5,2004-12-14

968796,3,2005-02-06

2266857,3,2003-06-13

1456369,4,2003-07-08

1078792,4,2005-09-09

104768,5,2003-11-25

372528,3,2004-06-30

2240742,5,2004-11-05

1401399,4,2005-04-03

402377,4,2005-04-10

51230,4,2005-05-22

2229289,4,2005-12-30

2554745,4,2004-04-08

1710932,3,2004-08-16

1355097,4,2003-03-26

1231910,3,2003-12-23

2599552,4,2003-04-14

1394444,5,2005-02-17

1094443,2,2003-09-04

77266,2,2003-03-06

153249,4,2003-06-24

2590630,3,2003-10-10

2596383,3,2005-11-03

2601294,4,2004-02-10

2623268,4,2004-12-14

1756597,5,2005-04-11

1673185,3,2005-04-14

2611525,3,2004-02-05

2013198,4,2003-03-10

1704175,4,2004-04-29

2186436,2,2004-04-21

2252223,5,2004-06-24

780282,4,2004-06-06

203667,5,2003-03-25

2338873,5,2003-03-18

479779,4,2004-01-13

1927897,5,2004-07-27

719833,4,2003-09-08

871489,5,2004-09-14

968765,5,2004-10-11

1057518,4,2005-01-03

257517,4,2004-05-17

2003554,4,2003-04-25

2203875,4,2003-03-07

2213289,5,2003-06-06

2630072,3,2003-12-02

1142291,4,2005-08-22

1733188,4,2004-03-24

1614895,4,2003-09-13

1947922,2,2004-02-19

1036823,3,2004-09-20

786312,3,2004-11-06

1197233,2,2005-02-17

1100037,3,2005-04-02

1130826,3,2005-05-02

620147,5,2005-05-26

1479047,4,2005-09-27

1221390,4,2003-02-17

2193643,5,2003-06-04

544496,2,2004-02-02

357507,3,2003-03-04

976059,3,2004-06-22

820624,4,2004-02-09

924839,5,2004-05-18

966255,4,2004-07-09

108052,4,2005-03-22

375319,4,2005-09-15

309333,4,2005-10-16

1599030,5,2003-03-05

2443370,4,2003-07-07

871580,3,2003-05-13

311641,1,2005-08-27

532382,4,2003-08-21

2378011,5,2004-01-27

946970,4,2004-01-23

175763,4,2004-05-04

619721,4,2004-10-27

1248452,3,2005-01-20

1863843,2,2005-06-29

1915354,4,2005-10-20

920625,2,2005-11-14

1100170,4,2005-12-18

1733406,4,2003-03-26

755319,3,2005-08-14

1743030,3,2004-04-05

309567,2,2003-05-07

2096587,5,2003-06-09

345869,4,2004-08-08

1544094,5,2005-02-22

1022903,4,2005-09-14

290951,4,2003-02-24

1737484,4,2004-08-16

183215,4,2005-08-15

2065639,4,2004-04-02

250836,3,2005-09-08

2126122,4,2005-02-22

1206452,4,2005-03-21

2068821,3,2005-05-30

1924939,4,2005-10-25

1940163,4,2005-07-14

1033433,2,2004-06-05

1213801,3,2003-04-09

1045221,1,2003-05-13

253037,3,2005-08-05

341954,2,2003-12-15

697945,4,2003-05-28

1115632,3,2003-11-24

2103655,3,2003-08-01

2495200,5,2004-10-05

714550,4,2005-04-02

979820,1,2005-06-26

514312,3,2004-05-19

2025577,3,2003-08-22

1589677,4,2003-06-12

425033,3,2003-06-13

2352327,4,2004-09-08

156078,5,2004-08-03

851855,4,2003-05-20

2441707,3,2003-05-23

1278394,4,2003-06-07

962955,2,2003-10-03

811218,5,2004-05-11

636475,3,2005-01-29

1087412,4,2005-02-20

410537,4,2005-06-06

1586499,3,2003-07-28

917063,4,2003-02-15

1023101,3,2003-08-04

2393306,4,2004-08-31

788774,4,2003-04-25

2586963,4,2003-06-08

2368791,3,2003-04-30

244266,3,2003-12-04

2622138,1,2004-02-23

KeyboardInterrupt:

In [10]:
lista_dx  = []
 
with open ("qualifying.txt") as q:
    for linha in q:
        lista_0 = []
        lista_1 = []
        partes = linha.strip().split(",")
        lista_0.append(partes[0])
        lista_1.append(partes[1])
       
        #df.append({'classificacao' : lista_0, 'ano': lista_1, 'nome': lista_2}, ignore_index=True)
        temp = pd.DataFrame.from_dict({'qualificador' : [partes[0]], 'data': [partes[1]]})
        lista_dx.append(temp)
 
qualif = pd.concat(lista_dx, ignore_index=True)

#TA DANDO ERRRROOOOOOOO

IndexError: list index out of range

In [ ]:
qualif

In [9]:
frase = "974219,2005-12-20"
separados  = frase.split(",")
print(separados)

['974219', '2005-12-20']

In [11]:
dx.append({'qualificador': separados[0], 'data': separados[1]}, ignore_index=True)

IndexError: list index out of range

In [ ]:
df

In [40]:
linha = "366,2004,Still, We Believe: The Boston Red Sox Movie"

partes = linha.split(",")

print(partes[:2])

",".join(partes[2:])

['366', '2004']

'Still, We Believe: The Boston Red Sox Movie'

In [41]:
df

Empty DataFrame
Columns: [classificacao, ano, nome]
Index: []

In [42]:

df.append({'classificacao' : partes[0], 'ano': partes[1], 'nome':",".join(partes[2:])}, ignore_index=True)

  classificacao   ano                                         nome
0           366  2004  Still, We Believe: The Boston Red Sox Movie

In [46]:
linha_1 = "1,2003,Dinosaur Planet"
partes = linha_1.split(",")
(partes[:2])

",".join(partes[2:])

df.append({'classificacao' : partes[0], 'ano': partes[1], 'nome':",".join(partes[2:])}, ignore_index=True)

  classificacao   ano             nome
0             1  2003  Dinosaur Planet

In [ ]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

In [ ]:
#Se usar o arquivo descompactado
#dados = pd.read_table('movie_titles.csv',sep=',')
#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

### tecnica que vamos utilizar: regressao
#### prever uma coisa em funçao da outra