### A partir dos 4 filmes mais bem avaliados pelos usuários do Netflix, qual será a nota que um desses 4 filmes tem, sabendo as notas dos outros 3?

### link para pegar os dados: https://www.kaggle.com/netflix-inc/netflix-prize-data/data

#### A partir dos dados que tinhamos, e conversando com os professores, decidimos pegar as notas dos 4 filmes mais bem avaliados a partir do site IMDb. Sabendo que esses filmes têm que estar no catálogo de filmes do Netflix.

### FILMES:
#### 1º Um Sonho de Liberdade
#### 2º O Poderoso Chefão 
#### 3º O Poderoso Chefão parte 2
#### 4º Pulp Fiction

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
lista_df  = []
 
with open ("movie_titles.csv") as f:
    for linha in f:
        lista_0 = []
        lista_1 = []
        lista_2 = [] 
        partes = linha.strip().split(",")
        juntando = ",".join(partes[2:])
        lista_0.append(partes[0])
        lista_1.append(partes[1])
        lista_2.append(juntando)
       
        #df.append({'classificacao' : lista_0, 'ano': lista_1, 'nome': lista_2}, ignore_index=True)
        temp = pd.DataFrame.from_dict({'Movie ID' : [partes[0]], 'Ano': [partes[1]], 'NOme': [juntando]})
        lista_df.append(temp)
 
dados = pd.concat(lista_df, ignore_index=True)

In [3]:
arquivo4 = open("combined_data_4.txt", "r")

In [4]:
tudo = arquivo4.readlines()

In [5]:
tudojunto = "\n".join(tudo)

In [6]:
for l in tudo:
    if "14550:" in l:
        print(l)

14550:

In [7]:
partes = tudojunto.split("14550:")

In [8]:
len(partes[1])

423565628

In [9]:
depois = partes[1]

In [10]:
partes_dep = depois.split("14551:")

In [11]:
partes_dep[0]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [12]:
saida = open("depois_14550.txt", "w")

In [13]:
saida.write(partes_dep[0])

3013732

In [14]:
#CRIANDO O ARQUIVO DO 3º LUGAR

In [15]:
arquivo1 = open("combined_data_1.txt", "r")

In [16]:
tudo3 = arquivo1.readlines()

In [17]:
tudojunto3 = "\n".join(tudo3)

In [18]:
for p in tudo3:
    if "3290:" in p:
        print(p)

3290:

In [19]:
partes3 = tudojunto3.split("3290:")

In [20]:
len(partes3[1])

151307311

In [21]:
depois3 = partes3[1]

In [22]:
partes_dep3 = depois3.split("3291:")

In [23]:
saida3 = open("depois_3290.txt", "w")

In [24]:
saida3.write(partes_dep3[0])

1545185

In [25]:
#CRIANDO O ARQUIVO DO 2º LUGAR

In [26]:
arquivo3 = open("combined_data_3.txt", "r")

In [27]:
tudo2 = arquivo3.readlines()

In [28]:
tudojunto2 = "\n".join(tudo2)

In [29]:
for q in tudo2:
    if "12293:" in q:
        print(q)

12293:

In [30]:
partes2 = tudojunto2.split("12293:")

In [31]:
len(partes2[1])

135674825

In [32]:
depois2 = partes2[1]

In [33]:
partes_dep2 = depois2.split("12294:")

In [34]:
saida2 = open("depois_12293.txt", "w")

In [35]:
saida2.write(partes_dep2[0])

2294264

In [36]:
#CRIANDO O ARQUIVO DO 4º LUGAR

In [37]:
arquivo3_2 = open("combined_data_3.txt", "r")

In [38]:
tudo4 = arquivo3_2.readlines()

In [39]:
tudojunto4 = "\n".join(tudo4)

In [40]:
for f in tudo4:
    if "11064:" in f:
        print(f)

11064:

In [41]:
partes4 = tudojunto4.split("11064:")

In [42]:
len(partes4[1])

289794410

In [43]:
depois4 = partes4[1]

In [44]:
partes_dep4 = depois4.split("11065:")

In [45]:
saida4 = open("depois_11064.txt", "w")

In [46]:
saida4.write(partes_dep4[0])

3281499

In [47]:
lugar1 = pd.read_csv('depois_14550.txt',sep=',')

In [48]:
lugar2 = pd.read_csv('depois_12293.txt',sep=',')

In [49]:
lugar3 = pd.read_csv('depois_3290.txt',sep=',')

In [50]:
lugar4 = pd.read_csv('depois_11064.txt',sep=',')

In [51]:
lugar1.head()

    736544  5  2005-07-05
0   185150  5  2005-07-05
1  2152963  4  2005-07-06
2  1026389  5  2005-07-06
3  1943087  5  2005-08-31
4   364518  4  2004-10-05

In [59]:
lugar2.head()

   2152963  4  2005-07-06
0  1943087  5  2001-10-20
1   364518  4  2004-08-31
2  1392773  5  2003-03-06
3  1441122  5  2005-07-07
4  1527030  5  2005-07-07

In [60]:
lugar3.head()

   2152963  3  2005-07-06
0  1943087  5  2001-10-20
1  1734805  5  2001-12-17
2   364518  4  2002-09-24
3  1392773  5  2002-08-13
4   716091  5  2001-12-05

In [61]:
lugar4.head()

   1026389  3  2005-07-06
0  1609049  4  2001-01-26
1  1342774  5  2000-02-03
2  1943087  5  2001-10-19
3  2423875  4  2000-01-12
4  1734805  5  2000-06-10

In [63]:
dados1=lugar1.rename(columns={"736544": "Movie_ID","5":"Nota","2005-07-05":"Data"})
dados1.head()

   Movie_ID  Nota        Data
0    185150     5  2005-07-05
1   2152963     4  2005-07-06
2   1026389     5  2005-07-06
3   1943087     5  2005-08-31
4    364518     4  2004-10-05

In [64]:
dados2=lugar2.rename(columns={"2152963": "Movie_ID","4":"Nota","2005-07-06":"Data"})
dados2.head()

   Movie_ID  Nota        Data
0   1943087     5  2001-10-20
1    364518     4  2004-08-31
2   1392773     5  2003-03-06
3   1441122     5  2005-07-07
4   1527030     5  2005-07-07

In [65]:
dados3=lugar3.rename(columns={"2152963": "Movie_ID","3":"Nota","2005-07-06":"Data"})
dados3.head()

   Movie_ID  Nota        Data
0   1943087     5  2001-10-20
1   1734805     5  2001-12-17
2    364518     4  2002-09-24
3   1392773     5  2002-08-13
4    716091     5  2001-12-05

In [66]:
dados4=lugar4.rename(columns={"1026389": "Movie_ID","3":"Nota","2005-07-06":"Data"})
dados4.head()

   Movie_ID  Nota        Data
0   1609049     4  2001-01-26
1   1342774     5  2000-02-03
2   1943087     5  2001-10-19
3   2423875     4  2000-01-12
4   1734805     5  2000-06-10

In [ ]:
dados1.merge(dados2,on='Movie_ID').merge(dados3,on='Movie_ID').merge(dados4,on='Movie_ID')

In [56]:
with open ("movie_titles.csv") as q:
    for linha in q:
        filmes = ["14550", "12293", "3290", "11064"]
        if linha [0:-1] in filmes:
            print (linha)

In [57]:
### AVALIAÇÕES DOS FILMES

sonho = 9,2
chefao = 9,2
chefao2 = 9
fiction = 8,9

In [58]:
#import numpy as np
#dic = {}
#avaliacoes = {}
#with open ("combined_data_1.txt") as f:
 #   for linha in f:
#      aval = []
#        if ":" in linha:
#            filme  = linha[:-1]
#            dic[filme]=[]
#        else:
#            aval.append(float(linha.split(",")[1]))
#            #dic[filme].append(float(linha.split(",")[1]))
#        media = np.mean(aval)
#        avaliacoes[filme] = media

##### A partir da regressão linear, que estima um valor y (a nota de um filme) a partir de alguns valores x (as notas dos outros 3 filmes) obtivemos que.....